In [51]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [73]:

init_dataset = pd.read_csv('adult.data', header = 0)

s = (init_dataset.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

Categorical variables:
['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'income-pred']

## Change pipeline:
Ordinal encoding is usable only for 'education', 'income-pred', 'workclass ???'

One-hot is better for 'relationship', 'race', 'native-country'?

In [74]:
ordinal_encoder = OrdinalEncoder()
init_dataset[object_cols] = ordinal_encoder.fit_transform(init_dataset[object_cols])
res = init_dataset.pop("income-pred")

In [75]:
init_dataset

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitl-gain,capital-loss,hours-per-week,native-country
0,39,7.0,77516,9.0,13,4.0,1.0,1.0,4.0,1.0,2174,0,40,39.0
1,50,6.0,83311,9.0,13,2.0,4.0,0.0,4.0,1.0,0,0,13,39.0
2,38,4.0,215646,11.0,9,0.0,6.0,1.0,4.0,1.0,0,0,40,39.0
3,53,4.0,234721,1.0,7,2.0,6.0,0.0,2.0,1.0,0,0,40,39.0
4,28,4.0,338409,9.0,13,2.0,10.0,5.0,2.0,0.0,0,0,40,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4.0,257302,7.0,12,2.0,13.0,5.0,4.0,0.0,0,0,38,39.0
32557,40,4.0,154374,11.0,9,2.0,7.0,0.0,4.0,1.0,0,0,40,39.0
32558,58,4.0,151910,11.0,9,6.0,1.0,4.0,4.0,0.0,0,0,40,39.0
32559,22,4.0,201490,11.0,9,4.0,1.0,3.0,4.0,1.0,0,0,20,39.0
32560,52,5.0,287927,11.0,9,2.0,4.0,5.0,4.0,0.0,15024,0,40,39.0

In [76]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

# read data
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(init_dataset, res, test_size=.5)

In [77]:
bst = XGBClassifier(n_estimators=4, max_depth=10, learning_rate=5, objective='binary:logistic')
# fit model
bst.fit(X_train, y_train)
# make predictions
preds = bst.predict(X_test)
accuracy = accuracy_score(y_test, preds)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 68.48%